extends layout

block content
  h1= title
  - let items=results
  div(class="container-fluid")
  div(class="row")
  each value,indexNo in items
   let destination = `dispatch(\"/golds/update?id=${item._id}\")`
    div(class="col-sm-2" onclick=`buy(${indexNo})`)
     p weight is #{value.Gold_weight} 
     p gold, shop is #{value.Gold_shop}
     p price value is #{value.Gold_cost}
     button.btn( class="btn-primary ml-1", onclick= destination) Update
  script. 
    function buy(indexNo)
    {
      alert(`You purchased Item ${indexNo+1}`)
    }
block content
  h1= title
  -let items = results
    - let destination2 = `dispatch(\"/golds/create")`
    button.btn( class="btn-success m1-1" onclick= destination2) Create
  div(class="container-fluid")
   div(class="row m-1")
    each item in items
     - let destination = `dispatch(\"/golds/update?id=${item._id}\")`
     div(class="row-sm-2", class="m-1") Item #{item.Gold_weight}(#{item.Gold_shop}) is #{item.Gold_cost}
      button.btn( class="btn-primary ml-1", onclick= destination) Update
      button.btn( class="btn-danger ml-1", onclick= `dispatch(\"/golds/delete?id=${item._id}\")`) Delete
      button.btn( class="btn-primary ml-1", onclick= `dispatch(\"/golds/detail?id=${item._id}\")`) Details 



  script.
   function dispatch(path){
     window.location.href=path
   }